body{
    background-color: #054D40;
    color: #87FFD7;
}
header{
    background-color: bisque;
    color: black;
}
main{
    background-color: chartreuse;
    color: chocolate;
}
section{
    background-color: crimson;
    color: cornflowerblue;
}
footer{
    background-color: darkorchid;
    color: darkkhaki;
}