body{
    background-color:#ACC8E5;
    color: #112A46;
}
header{
    background-color: #ACC8E5;
    color:#112A46;
}
main{
    background-color: #ACC8E5;
    color: #112A46;
}
section{
    background-color: #ACC8E5;
    color: #112A46;
}
footer{
    background-color: #ACC8E5;
    color: #112A46;;
}