body{
    background-color:#112A46;
    color: #ACC8E5;
}
header{
    background-color: #112A46;
    color:#ACC8E5;
}
main{
    background-color: #112A46;
    color: #ACC8E5;
}
section{
    background-color: #112A46;
    color: #ACC8E5;
}
footer{
    background-color: #112A46;
    color: #ACC8E5;
}